---
import Logo from '../../components/Logo.astro';
import Layout from '../../layouts/Layout.astro';

interface Props {
  name: string;
  description: string;
  url: string;
  iconUrl: string;
}

const { id } = Astro.params;
const { name, description, url, iconUrl }  = Astro.props;

const headTitle = '';
const headDescription = '';

// TODO
return Astro.redirect('/');
---

<Layout title={headTitle} description={headDescription}>
  <header class="container mx-auto p-6">
    <Logo />
  </header>

  <section class="container mx-auto p-6 prose">
    <h1 class="balanced">{name}</h1>
    <p>{description}</p>
  </section>
</Layout>