---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Logo from "../../components/Logo.astro";

const pageTitle = "My Blog";
const allPosts = await getCollection("posts");
---

<Layout title={pageTitle}>
  <div
    x-ref="mainContent"
    id="main"
    class="relative overflow-x-hidden transition-[width] max-h-screen overflow-y-auto container pb-12 p-6 flex flex-col justify-start gap-4 items-center"
  >
    <header
      class="!px-0 container mx-auto flex justify-between gap-2"
    >
      <Logo />
      <div class="flex justify-center flex-wrap gap-3">
        <a
          href="/add/tool"
          target="_blank"
          class="max-sm:w-fit btn btn-neutral text-white btn-sm">Add Tool</a
        >
        <a
          href="/add/creator"
          target="_blank"
          class="max-sm:hidden btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
          >Add Creator</a
        >
        <button
          x-data={`{
              openRandomToolInNewTab() {
                const toolsSectionEl = document.getElementById('search-results');
                const allToolEls = Array.from(toolsSectionEl.querySelectorAll('a'));
                const randomToolEl = allToolEls[Math.floor(Math.random() * allToolEls.length)];
                window.open(randomToolEl.href, '_blank');
              }
            }`}
          type="button"
          x-on:click="openRandomToolInNewTab()"
          class="max-sm:hidden btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
        >
          Suprise Me
        </button>
      </div>
    </header>

    <main class="w-full prose">
      <div class="text-sm breadcrumbs">
        <ul class="!p-0 !m-0">
          <li><a href="/" title="Go to the home page">Home</a></li>
          <li>Posts</li>
        </ul>
      </div>

      <h1>Posts</h1>

      <ul>
        {
          allPosts.map((post) => (
            <li>
              <a href={`/posts/${post.slug}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </div>
</Layout>
