---
import ToolCard from "../components/ToolCard.astro";
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import AddAToolCard from "../components/AddAToolCard.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import { getListOfTools, getListOfTags } from "../api/baserow";

const tools = await getListOfTools();
const tags = await getListOfTags();

const title = "faith.tools - The best digital services and apps for Christians";
const description =
  "A curated list of the best digital services and apps for Christians and the faithful people who create them.";

const randomizeTools = tools.results.sort(() => Math.random() - 0.5);

// Cache for 1 hour.
Astro.response.headers.set("Cache-Control", "public, max-age=3600");
Astro.response.headers.set(
  "CDN-Cache-Control",
  "public, max-age=3600, stale-while-revalidate",
);
---

<Layout title={title} description={description} bodyClasses="overflow-x-hidden bg-slate-100">
  <div
    x-data={`{
      isSidePanelOpen: true,
      get isMobile() {
        return Boolean(window.innerWidth <= 768);
      },
      resetSidePanel() {
        this.isSidePanelOpen = !this.isMobile;
      },
      init() {
        this.resetSidePanel();

        $watch('isSidePanelOpen', () => {
          if (!isMobile) {
            return;
          }

          if (this.isSidePanelOpen) {
            $refs.mainContent.classList.add('!overflow-hidden');
          } else {
            $refs.mainContent.classList.remove('!overflow-hidden');
          }
        })
      }
    }`}
    x-on:window.resize.debounce="resetSidePanel()"
    class="max-h-screen flex"
  >
    <Sidebar tags={tags} />

    <main
      x-ref="mainContent"
      id="main"
      class="relative max-h-screen overflow-y-auto overflow-x-hidden container py-12 p-6 flex flex-col justify-start gap-4 items-center"
    >
      {/* Backdrop */}
      <div
        x-show="isSidePanelOpen"
        x-cloak
        class="sm:hidden absolute top-0 left-0 bottom-0 right-0 w-screen h-screen bg-black/50"
      >
      </div>

      <button
        title="Toggle category sidebar"
        x-on:click="isSidePanelOpen = !isSidePanelOpen"
        class="absolute top-4 left-4 btn btn-circle btn-sm border-none bg-inherit text-slate-600 hover:bg-slate-200 hover:border-inherit hover:text-slate-800 border-slate-300"
        x-bind:class="{ 'max-sm:left-[calc(256px+1rem)] max-sm:bg-white': isSidePanelOpen }"
      >
        <svg
          class="transition-transform duration-300"
          x-bind:class="{ '-rotate-180': !isSidePanelOpen }"
          xmlns="http://www.w3.org/2000/svg"
          width={20}
          height={20}
          viewBox="0 0 16 16"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M10.53 2.97a.75.75 0 0 1 0 1.06L6.56 8l3.97 3.97a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 0"
            clip-rule="evenodd"></path>
        </svg>
      </button>

      <Logo size={128} includeText={false} />

      <h1 class="flex items-center gap-2 text-4xl font-bold max-sm:flex-col">
        faith.tools
      </h1>

      <div class="flex flex-col gap-2 max-w-[65ch] items-center">
        <p class="balanced m-0 text-center w-full text-slate-800">
          The best digital services and apps for Christians and the faithful
          people who create them.
        </p>

        <p class="balanced m-0 text-xs text-center w-full text-slate-600">
          New tools are added daily and displayed in random order.
        </p>
      </div>

      <section class="flex flex-col items-center gap-8 mt-4">
        <div class="flex justify-center flex-wrap gap-3">
          <a
            href="/add/tool"
            target="_blank"
            class="max-sm:w-full btn btn-neutral text-white btn-sm"
            >Recommend a Tool</a
          >
          <a
            href="/add/creator"
            target="_blank"
            class="max-sm:w-full btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
            >Recommend a Creator</a
          >
          <button
            x-data={`{
              openRandomToolInNewTab() {
                const toolsSectionEl = document.getElementById('search-results');
                const allToolEls = Array.from(toolsSectionEl.querySelectorAll('a'));
                const randomToolEl = allToolEls[Math.floor(Math.random() * allToolEls.length)];
                window.open(randomToolEl.href, '_blank');
              }
            }`}
            type="button"
            x-on:click="openRandomToolInNewTab()"
            class="max-sm:w-full btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
          >
            Suprise Me
          </button>
        </div>
        <input
          name="search"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#search-results"
          hx-get="/api/htmx-partials/ListOfTools"
          type="text"
          placeholder="Search all tools..."
          class="bg-inherit input input-bordered input-md w-full max-w-md"
        />
      </section>

      <ul
        class="container px-0 max-sm:grid-cols-1 grid grid-cols-3 gap-4 mt-6"
        id="search-results"
      >
        {
          randomizeTools.map((tool) => (
            <ToolCard
              name={tool["Name"]}
              shortDescription={tool["Short Description"]}
              iconUrl={
                tool["Image"]?.[0]?.url || "https://placeholder.com/48x48"
              }
              appId={tool["id"]}
              website={tool["Website"]}
              tags={tool["Tags"]}
            />
          ))
        }
        <AddAToolCard />
      </ul>

      <Footer />
    </main>
  </div>
</Layout>
