---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="faith.tools"
  description="freedom stack is a simple web starter template crafted with Astro, Alpine.js, HTMX, Pocketbase, daisyUI, & Tailwind."
>
  <main
    id="main"
    class="container p-6 flex flex-col gap-4 items-center"
    x-data="{ count: $persist(0) }"
  >
    <svg
      width={128}
      height={128}
      viewBox="0 0 512 512"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M19 261.5C159.8 115.136 353.36 176.945 494.16 340"
        stroke="currentColor"
        stroke-opacity="0.40"
        stroke-width="36"
        stroke-linecap="round"
        stroke-dasharray="1 56.28"></path>
      <path
        d="M18 260.305C158.8 406.669 353.36 336.055 494.16 173"
        stroke="currentColor"
        stroke-width="36"
        stroke-opacity="1"
        stroke-linecap="round"></path>
    </svg>

    <h1 class="text-3xl font-bold">faith.tools</h1>
    <h3>A web stack that feels freeing</h3>
    <p class="balanced max-w-[65ch] text-center">
      A simple web starter template crafted with Astro, Alpine.js, HTMX,
      Pocketbase, daisyUI, & Tailwind.
    </p>

    <div class="flex gap-2 items-center">
      <button class="btn btn-neutral" type="button" x-on:click="count--">
        -
      </button>
      <p x-text="count" class="min-w-[3ch] text-center font-mono"></p>
      <button class="btn btn-neutral" type="button" x-on:click="count++">
        +
      </button>
    </div>

    <div class="flex gap-2">
      <a
        href="https://github.com/cameronapak/freedom-stack"
        target="_blank"
        class="btn btn-primary"
      >
        Get the Code
      </a>

      <a href="/posts" class="btn btn-neutral"> Visit the Blog</a>

      {/* HTMX Example */}
      <button
        class="btn btn-ghost"
        type="button"
        hx-get="/api/htmx-partials/rick-roll"
        hx-target="#htmx-entry-point"
        hx-swap="innerHTML"
      >
        Rick Roll via HTMX
      </button>
    </div>

    <section id="htmx-entry-point" class="flex flex-col gap-4"></section>

    <p>
      Created by <a href="https://cameronpak.com" target="_blank">Cameron Pak</a
      >
    </p>
  </main>
</Layout>
