---
import ToolCard from "../components/ToolCard.astro";
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import AddAToolCard from "../components/AddAToolCard.astro";
import { getListOfTools } from "../api/baserow";

const tools = await getListOfTools();

const title = "faith.tools - The best digital services and apps for Christians";
const description =
  "A curated list of the best digital services and apps for Christians and the faithful people who create them.";

const randomizeTools = tools.results.sort(() => Math.random() - 0.5);

// Cache for 1 hour.
Astro.response.headers.set("Cache-Control", "public, max-age=3600");
---

<Layout
  title={title}
  description={description}
  bodyClasses="grid grid-rows-[1fr_auto] gap-4 bg-slate-100"
>
  <main
    id="main"
    class="container py-12 p-6 flex flex-col justify-start gap-4 items-center"
  >
    <Logo size={128} includeText={false} />

    <h1 class="flex items-center gap-2 text-4xl font-bold max-sm:flex-col">
      faith.tools
    </h1>
    <p class="balanced m-0 max-w-[65ch] text-center text-slate-800">
      The best digital services and apps for Christians and the faithful people
      who create them.
    </p>

    <section class="flex flex-col items-center gap-8 mt-4">
      <div class="flex justify-center gap-3">
        <a
          href="/add/tool"
          target="_blank"
          class="btn btn-neutral text-white btn-sm">Recommend a Tool</a
        >
        <a
          href="/add/creator"
          target="_blank"
          class="btn bg-slate-200 hover:bg-slate-300 border-none btn-sm"
          >Recommend a Creator</a
        >
      </div>
      <input
        name="search"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#search-results"
        hx-get="/api/htmx-partials/ListOfTools"
        type="text"
        placeholder="Search a tool..."
        class="bg-inherit input input-bordered input-md w-full"
      />
    </section>

    <section
      class="container mx-auto max-sm:grid-cols-1 grid grid-cols-3 gap-4 mt-6"
      id="search-results"
    >
      {
        randomizeTools.map((tool) => (
          <ToolCard
            name={tool["Name"]}
            shortDescription={tool["Short Description"]}
            iconUrl={tool["Image"]?.[0]?.url || "https://placeholder.com/48x48"}
            website={tool["Website"]}
          />
        ))
      }
      <AddAToolCard />
    </section>
  </main>

  <footer class="container mx-auto p-6 w-full">
    <p class="text-center text-sm text-slate-500">
      Created by <a
        class="inherit"
        href="https://cameronpak.com"
        target="_blank">Cameron Pak</a
      >
    </p>
  </footer>
</Layout>
