---
interface Props {
  tagCategory?: string;
}

const { tagCategory = '' } = Astro.props;
---


<a href="/add/tool" target="_blank">
  <section
    class="flex h-full flex-col items-start gap-3 justify-start border bg-slate-100 border-slate-300 border-dashed p-4 rounded-xl hover:brightness-95 transition-all duration-150"
  >
    <div class="flex gap-3 items-center">
      <div
        class="flex items-center justify-center rounded-xl m-0 border border-slate-300 border-dashed h-12 w-12"
      >
        <svg
          class="text-slate-600"
          xmlns="http://www.w3.org/2000/svg"
          width={24}
          height={24}
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32v144H48c-17.7 0-32 14.3-32 32s14.3 32 32 32h144v144c0 17.7 14.3 32 32 32s32-14.3 32-32V288h144c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
          ></path>
        </svg>
      </div>
      <h3 class="text-base line-clamp-2 leading-tight font-semibold balanced">
        Your {tagCategory} Tool
      </h3>
    </div>
    <p class="m-0 line-clamp-3 text-xs text-slate-500">
      Submit your tool or a tool you recommend to this collection. New tools
      added daily.
    </p>
  </section>
</a>
