<footer class="container mx-auto p-6 w-full">
  <p class="text-center text-xs text-slate-500">
    faith.tools is created by <a
      class="link inherit"
      href="https://cameronpak.com"
      target="_blank">Cameron Pak</a
    > in collaboration with you. © {new Date().getFullYear()}
  </p>
  <a
    href="/posts/"
    target="_blank"
    class="underline text-center block w-full text-xs text-slate-800 balanced mx-auto mt-6"
  >
    About Us
  </a>
  <p class="balanced mx-auto text-center text-xs text-slate-500 pt-6">
    Apps and tools listed here are owned by their respective creators. By
    installing or using one of their apps, you are subject to their Terms of Use
    and/or Privacy Policy.
  </p>
</footer>
