<footer class="container mx-auto p-6 w-full">
  <p class="text-center text-sm text-slate-500">
    Created by <a class="inherit" href="https://cameronpak.com" target="_blank"
      >Cameron Pak</a
    > in collaboration with you.
  </p>
</footer>
