<footer class="container mx-auto p-6 w-full">
  <div class="flex gap-3 items-center justify-center p-6">
    <a
      href="/posts/about-us"
      target="_blank"
      class="underline text-center block text-base text-slate-800 balanced"
    >
      About Us
    </a>
    <a
      href="/posts/selection-criteria"
      target="_blank"
      class="underline text-center block text-base text-slate-800 balanced"
    >
      Selection Criteria
    </a>
    <a
      href="/posts"
      target="_blank"
      class="underline text-center block text-base text-slate-800 balanced"
    >
      Posts
    </a>
  </div>

  <p class="text-center text-xs text-slate-500">
    faith.tools is created by <a
      class="link inherit"
      href="https://cameronpak.com"
      target="_blank">Cameron Pak</a
    > in collaboration with you. © {new Date().getFullYear()}
  </p>
</footer>
