---
interface Props {
  isSelected: boolean;
  text: string;
  title: string;
  link: string;
}

const { isSelected, text, title, link, ...props } = Astro.props;
---

<li class={`hover:bg-slate-300 py-3 px-6 border-b border-slate-300 text-xs m-0 ${isSelected ? " bg-slate-300" : ""}`} {...props}>
  <a
    href={link}
    title={title}
  >
    {text}
  </a>
</li>
