---
interface Props {
  tags: {
    value: string;
    id: string | number;
  }[];
  selectedCategoryTag?: string;
}

const { tags, selectedCategoryTag = "" } = Astro.props;
---

<aside
  class="max-sm:hidden max-h-screen overflow-y-auto top-0 left-0 overscroll-contain bg-slate-200"
  x-ref="sidebar"
>
  <ul class="flex flex-col border-r border-slate-200">
    <a href="/" title="View all the Top Christian Apps and Tools">
      <li
        class={"hover:bg-slate-300 py-3 px-6 border-b border-slate-300 text-xs m-0" +
          (selectedCategoryTag === "" ? " bg-slate-300" : "")}
      >
        All
      </li>
    </a>
    {
      tags.map((tag) => (
        <a
          x-init={
            selectedCategoryTag === tag.value
              ? "$refs.sidebar.scrollTo(0, $el.offsetTop - 32);"
              : ""
          }
          href={`/${tag.value?.replaceAll(" ", "-")}`}
          title={`Open the Top Christian ${tag.value} Apps and Tools`}
        >
          <li
            class={
              "hover:bg-slate-300 transition py-3 px-6 border-b border-slate-300 text-xs m-0" +
              (selectedCategoryTag === tag.value ? " bg-slate-300" : "")
            }
          >
            {tag.value}
          </li>
        </a>
      ))
    }
  </ul>
</aside>
