---
import { SEO } from "astro-seo";
import "../global.css";

interface Props {
  title: string;
  description?: string;
  bodyClasses?: string;
}

const { title, description = "", bodyClasses } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      charset="utf-8"
      title={title}
      description={description}
      canonical="https://faith.tools"
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "/og-image.png",
        },
        image: {
          alt: "A Christian fish logo with one of the two lines of the fish as a dotted line.",
        },
      }}
      twitter={{
        card: "summary_large_image",
        image: "/og-image.png",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg", type: "image/svg+xml" }],
        meta: [{ name: "theme-color", content: "#ffffff" }],
      }}
    />
  </head>

  <body class={`prose min-h-[100svh] !max-w-[100vw] w-full ${bodyClasses}`}>
    <slot />
  </body><script>
    import * as htmx from "htmx.org";

    window.htmx = htmx;
  </script>
</html>
