---
import "../global.css";

interface Props {
  title: string;
  description?: string;
  bodyClasses?: string;
}

const { title, description = '', bodyClasses } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || title} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/og-image.png" />
    <title>{title}</title>
  </head>

  <body class={`prose min-h-[100svh] !max-w-[100vw] w-full ${bodyClasses}`}>
    <slot />
  </body>
</html>

<script>
  import * as htmx from 'htmx.org';

  window.htmx = htmx;
</script>
