---
import { SEO } from "astro-seo";
import { rateLimit, isDev } from "../utils";
import "../global.css";

interface Props {
  title: string;
  description?: string;
  bodyClasses?: string;
  canonicalUrl?: string;
}

const {
  title,
  description = "Equipping believers with technology to help them live their God-given calling every single day, together",
  bodyClasses,
  canonicalUrl,
} = Astro.props;

const MAX_REQUESTS_PER_MIN = isDev ? 50 : 15;

if (!isDev) {
  try {
    await rateLimit(MAX_REQUESTS_PER_MIN, Astro.clientAddress);
  } catch (error) {
    Astro.response.status = 429;
    Astro.response.headers.set("Retry-After", "60");
    Astro.response.headers.set("Content-Type", "text/plain");
    Astro.response.headers.set("Cache-Control", "public, max-age=3600");
    Astro.response.statusText = "Not sure if you meant to do that. DDoS protection.";
    return Astro.response.statusText;
  }
}
---

<!doctype html>
<html lang="en" class="bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      charset="utf-8"
      title={title}
      description={description}
      canonical={canonicalUrl || Astro.url}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "/og-image.png",
        },
        image: {
          alt: "A Christian fish logo with one of the two lines of the fish as a dotted line.",
        },
      }}
      twitter={{
        card: "summary_large_image",
        image: "/og-image.png",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg", type: "image/svg+xml" }],
        meta: [{ name: "theme-color", content: "#ffffff" }],
      }}
    />
  </head>

  <body class={`min-h-[100svh] !max-w-[100vw] w-full ${bodyClasses}`} x-data>
    <slot />
    <script>
      import posthog from 'posthog-js'
      import * as htmx from "htmx.org";

      window.htmx = htmx;
      posthog.init('phc_XZH6DRYJKJsrlBczlu7LB9tMDcXA1rTDupFZYpSYWD4', { api_host: 'https://app.posthog.com' });
    </script>
  </body>
</html>
